# Path to text generation webui directory
TEXT_GEN_PATH=C:\text-generation-webui-main

# LLM that will be used for text generation
LANG_MODEL=YOUR_CHOSEN_LLM_HERE

# Path to stable diffusion webui directory
SD_PATH=C:\sd.webui

# Path to the virtual environment in the main bot directory
BOT_VENV_PATH=C:\hikari-assistant